<nav id="container-navbar" class="text-center">
    <app-header></app-header>
</nav>
<div id="wrapper-page" class="container">
    <div id="container-page-row" class="row">
        <div id="container-sidebar" class="col-lg-2 col-md-2 col-sm-3">
            <app-side-bar></app-side-bar>
        </div>
        <div id="container-content" class="col-lg-10 col-md-10 col-sm-9 text-center">
            <article>
                <app-main></app-main>
            </article>
        </div>
    </div>
</div>
<footer id="wrapper-footer" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p id="footer-text" class=""><span class="">
                    <app-footer></app-footer>
                </span>
            </p>
        </div>
    </div>
</footer>