<div class="container">
    <!--The contents of the page will change to a result message once success is achieved.-->
    <div *ngIf="!adminService.resultMessage">
        <h2>Enter new company details:</h2>

        <form #formInfo="ngForm" class="plainForm">
            <!--the form allows to require fields and to invalidate the send button-->
            <table class="table thead-dark table-bordered">
                <tr>
                    <td class="fixed-width">Name:</td>
                    <td class="fixed-width"><input required pattern="^.{2,}$" #nameInfo="ngModel" name="name" type="text"
                            placeholder="Enter a company name" [(ngModel)]="newName" /></td>
                    <td><span class="error" *ngIf="nameInfo.errors?.required&&nameInfo.touched"> Company name
                            required</span>
                        <span class="error" *ngIf="nameInfo.errors?.pattern&&nameInfo.touched">Company name too
                            short</span>
                            <span class="error" *ngIf="!nameInfo.errors">&nbsp;</span>

                    </td>
                </tr>
                <tr>
                    <td class="fixed-width">Password:</td>
                    <td class="fixed-width"><input  required pattern="^.{4,}$" #passwordInfo="ngModel" name="password" type="password"
                            placeholder="4 characters or longer" [(ngModel)]="newPassword" /></td>
                    <td><span class="error" *ngIf="passwordInfo.errors?.required&&passwordInfo.touched">Password
                            required</span>
                        <span class="error" *ngIf="passwordInfo.errors?.pattern&&passwordInfo.touched">Password too
                            short</span>
                            <span class="error" *ngIf="!passwordInfo.errors">&nbsp;</span>

                    </td>
                </tr>
                <tr>
                    <td class="fixed-width">Email:</td>
                    <td class="fixed-width"><input required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                            type="email" #emailInfo="ngModel" placeholder="Enter company's email" [(ngModel)]="newEmail"
                            name="email" />
                    </td>
                    <td><span class="error" *ngIf="emailInfo.errors?.required&&emailInfo.touched">Email address is
                            required</span>
                        <span class="error" *ngIf="emailInfo.errors?.pattern&&emailInfo.touched">Check the email address
                            again</span>
                            <span class="error" *ngIf="!emailInfo.errors">&nbsp;</span>
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <button class="btn btn-success btn-lg" [disabled]="formInfo.form.invalid" (click)="send()">Send</button>
            </div>
        </form>
    </div>

    <div *ngIf="adminService.resultMessage">
        <h2>{{adminService.resultMessage}}</h2>
        <button (click)=again()>Add another company</button>
    </div>
</div>